/*
  Select the h1 element, make its text
  white and the background behind it green
*/
h2 {
  color : white;
  background : green;
}

/*
  Select any HTML element with the class
  attribute "red", and make its text red
*/
.red {
  color : red;
}
